<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bulma.css">
    <title>Document</title>
</head>

<body>
    <h1 class="title is-1">Hello World 0101034</h1>
    <p class="box">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium adipisci reprehenderit pariatur beatae.
        Placeat dicta enim, dolores soluta laborum nihil, assumenda dolore provident sunt repellendus officiis, earum
        nisi numquam? Alias.
    </p>
    <a href="#"><strong>Click Here</strong></a>
</body>

</html>